@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader {
  width: 12px;
  height: 12px;
  background: #2a86f4;
  border-radius: 50%;
  box-shadow: 20px 0 #2a86f422, -20px 0 #2a86f4;
  animation: d5 0.5s infinite linear alternate;
}
@keyframes d5 {
  0% {
    box-shadow: 20px 0 #2a86f4, -20px 0 #2a86f422;
    background: #2a86f4;
  }
  33% {
    box-shadow: 20px 0 #2a86f4, -20px 0 #2a86f422;
    background: #2a86f422;
  }
  66% {
    box-shadow: 20px 0 #2a86f422, -20px 0 #2a86f4;
    background: #2a86f422;
  }
}
